// MAPs ---------------------------------------------

$colors: (
  "slight-grey": #5e5e5e5e,
  "link-color": #ffffffff,
);
$gradients: (
    "body-gradient":  linear-gradient(180deg, #0bd3e0 0%, #070e34 67.19%)
);
// --------------------------------------------------

// Mixins ---------------------------------------------
@mixin spacearound-flex {
  display: flex;
  justify-content: space-around;
}
// --------------------------------------------------

* {
  margin: 0px;
  padding: 0px;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background: map-get($gradients, "body-gradient");
  color: #e0f3f5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  font-family: "DM Sans", sans-serif;
}

.myNavbar {
  @include spacearound-flex();
  width: 100%;
  padding-top: 5px;
}

.logo {
  width: 10%;
  margin-left: 5px;
  display: flex;
  flex-direction: row;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style: none;
  justify-content: center;
  align-items: center;
}
.searcher {
  @include spacearound-flex();
  align-items: center;
  width: 60vw;
}
.searcher button {
  padding: 0.2em 0.4em;
  border-radius: 50%;
}
.search_bar {
  width: 75%;
  background: map-get($colors, slight-grey);
  text-align: center;
}
.search_bar::placeholder {
  text-align: center;
  color: map-get($colors, link-color );
}

.content {
  @include spacearound-flex();
  flex-direction: row;
  margin-top: 25px;
  align-items: flex-start;
}

.img_size {
  max-height: 50vh;
  max-width: fit-content;
}

.rounded {
  border-radius: 20px;
}

ul {
  li {
    &:hover {
      background-color: #e0f3f5;
    }
    border-radius: 15px;
    a {
      text-decoration: none;
      color: map-get($colors, link-color);
      &:hover {
        color: #3c4d4f;
      }
    }
  }
}

#hover {
  transition: all 0.5s;
  width: max-content;
}
#hover:hover {
  transform: scale(1.1);
}

.centered_div {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 480px) {
  body {
    height: 100vh;
    background: linear-gradient(180deg, #0bd3e0 0%, #070e34 67.19%);
    color: #e0f3f5;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 72px 1fr;
    grid-template-rows: 35px 40px 45px 1fr;
    grid-template-areas:
      "logo header"
      "nav nav "
      "searcher searcher "
      "content content  ";
  }

  .logo {
    width: 75%;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
  }

  .header {
    display: flex;
    gap: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .ul {
    flex-direction: row;

    justify-content: center;
  }
  .searcher {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .search_bar {
    width: 75%;
  }

  .content {
    display: flex;

    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
// --------------------------------------------------
